body{
	font-family: monospace;
}

.container{
	margin: 0 auto;
	max-width: 600px;
}

.content{
	margin-top: 100px;
	text-align: center;

}

h1{

}

input{
	font-size: 32px;
	border-radius: 20px;
}

button{
	font-size: 22px;
	border-radius: 5px;
	background-color: hotpink;

}

ul {

}

li {
 list-style: none;
 border: 1px black solid;
 border-radius: 5px;
 background-color: pink;
}

a {
	text-decoration: none;
	color: purple;
	font-size: 22px;
}
